<h1>VueLineapp</h1>

<div id="index">
  <button @click="openForm" type="button" id="submit" class="button">投稿する</button>

  <div class="modal-container" v-show="isVisible">
    <div class="modal-overlay" @click.self="closeForm">
      <div class="modal-body">
        <form @submit.prevent="submit" class="modal-form-container">
          <input type="textarea" placeholder="いまどうしてる？" v-model="message" class="textarea" required>
          <button type="submit" :class="[empty, 'button']">投稿する</button>
        </form>
        <p>
          <button class="button button--close" @click="closeForm">CLOSE</button>
        </p>
      </div>
    </div>
  </div>

  <%# <posts :new_post="post"></posts> %>
</div>